# ==========================================================
# Archivos temporales de R
# ==========================================================

.Rhistory
.RData
.Ruserdata

# Configuración local de RStudio
.Rproj.user/

# Archivos temporales de Quarto
.quarto/
**/*.quarto_ipynb

# Archivos del sistema
.DS_Store
Thumbs.db